---
import Base from "~/layouts/Base.astro";
import ikigai from "/public/imgs/ikigai-Karen.png";
---

<Base>
<div class="flex flex-col justify-center w-full sm:w-[90%] md:w-[80%] lg:w-[70%] mx-auto gap-5 py-5 px-2 markdown">

<p>Bienvenue sur ma page "À Propos". Je me nomme Karen, passionnée d'UX Game Design, un domaine qui est bien plus qu'une simple 
    profession pour moi, c'est l'essence même de mon Ikigai. Mon parcours professionnel et mes choix artistiques ont convergé 
    vers cet univers fascinant, m'offrant l'opportunité de créer des expériences interactives immersives.</p>

<h3> Qu’est-ce que l’UX Game design ?</h3>

<p>L'UX Game Design, ou User Experience Game Design, est une discipline qui se concentre sur la création d'expériences 
    utilisateur optimales et engageantes dans le contexte des jeux vidéo. L'objectif principal de l'UX Game Design est 
    d'assurer que les joueurs ont une expérience fluide, agréable et mémorable tout au long de leur interaction avec un jeu.</p>

<h3>L'UX Game Design : Une Fusion de Passions</h3>

<p>L'UX Game Design représente pour moi la convergence harmonieuse de plusieurs de mes passions. En tant qu'adepte de jeux 
    depuis mon enfance, j'ai toujours été captivée par la manière dont les jeux peuvent transporter les joueurs dans des mondes 
    uniques, éveiller des émotions, et offrir des défis stimulants. Mon amour pour la narration, les visuels captivants, et la 
    psychologie des utilisateurs s'entremêle parfaitement dans le cadre de l'UX Game Design.</p>

<h3>Ikigai : Ma Quête de Sens</h3>

<p>L'UX Game Design n'est pas seulement un métier pour moi, c'est un élément crucial de mon Ikigai. 
<br>L'ikigai est un concept japonais qui représente l'essence de la vie et la raison d'être. Il se traduit littéralement 
par "raison de vivre" ou "joie de vivre". L'ikigai suggère qu'une vie épanouissante et significative est trouvée lorsque 
l'on identifie et poursuit l'intersection entre quatre éléments fondamentaux : ce que l'on aime faire, ce pour quoi l'on est 
doué, ce dont le monde a besoin et ce pour quoi l'on peut être rémunéré. 
<br>En d'autres termes, l'ikigai est le point de convergence entre la passion, la vocation, la mission et la profession. 
Trouver son ikigai est considéré comme un chemin vers la satisfaction personnelle et le bien-être.
<br>La recherche constante d'un équilibre entre ce que j'aime, ce en quoi je suis douée, ce dont le monde a besoin et ce pour 
quoi je peux être rémunérée trouve son apogée dans la création d'expériences ludiques significatives. Chaque projet que je mets 
en œuvre est une exploration de cet Ikigai, une quête continue de donner vie à des idées innovantes et engageantes.</p>
<img src={ikigai} width="1000rem">

<h3>Taxonomies : Structurer la Créativité</h3>

<p>Dans mon approche de l'UX Game Design, l'organisation et la structuration sont essentielles. Les taxonomies que j'utilise 
    sont le fil conducteur de mon processus créatif. Elles me permettent de décomposer des concepts complexes en éléments 
    compréhensibles, de créer des catégories intuitives pour faciliter la navigation dans les expériences que je conçois. 
    <br>Chaque projet est une histoire méticuleusement taxonomisée, une aventure dont la complexité est rendue accessible.
   <br>Au cœur de cette émergence, ces premières taxonomies deviennent les gardiennes d'une cohérence naissante dans mon travail
    d'UX Game Design. Elles ne sont pas simplement des structures, mais des récits en devenir, dévoilant la progression de mes
     idées à leurs premiers stades de vie. 
     <br>À travers ces classifications, je partage une partie de ma vision, invitant les 
     esprits curieux à entrevoir un monde où chaque catégorie est une porte entrebâillée vers une exploration en devenir. 
     En explorant mes projets, vous découvrirez les prémices de ces taxonomies, s'entrelaçant avec mon Ikigai et reflétant 
     ma passion émergente pour la narration interactive, la psychologie des utilisateurs, et l'esthétique visuelle.
     <br> Chaque catégorie devient ainsi non seulement une étiquette, mais une promesse d'exploration, une fenêtre entrebâillée sur l'art 
     et la science en évolution constante de l'UX Game Design.
    </p>

<h3>Le Choix du SSG : Une Architecture Puissante</h3>

<p>J’ai choisi Astro, qui me procure une facilité d'utilisation grâce à ses modèles prédéfinis et à ses fonctionnalités 
    adaptables, ce qui accélère le processus de déploiement. De plus, il est utilisé par une multitude de développeurs à 
    l'échelle mondiale et propose des mises à jour automatiques, garantissant ainsi que les fonctionnalités et la sécurité 
    de notre site web demeurent constamment à jour.
<br>Choisir Minecrasft comme thème n'est pas seulement esthétique, mais il incarne également des valeurs fondamentales de 
créativité, d'innovation et d'expérience utilisateur immersive.
<br>Minecraft, en tant que jeu emblématique, est réputé pour son design intuitif et sa liberté créative. Il offre aux 
joueurs une toile virtuelle où l'imagination est la seule limite. Ce thème sert à rappeler constamment l'importance de la 
conception centrée sur l'utilisateur, un principe fondamental de l'UX. De la même manière dont Minecraft permet aux joueurs de 
façonner leur propre expérience de jeu, l'UX game design cherche à offrir des expériences numériques qui sont non seulement 
fonctionnelles mais aussi engageantes et satisfaisantes pour les utilisateurs.</p>
</div>
<div class="flex flex-col justify-center w-full sm:w-[90%] md:w-[80%] lg:w-[70%] mx-auto gap-5 py-5 px-2 markdown">
<p>Je vous invite à explorer mon univers à travers ce site, où chaque pixel, chaque interaction, et chaque projet raconte 
    une partie de mon histoire dans le vaste royaume de l'UX Game Design.
    <br>Merci de faire partie de cette aventure !</p>
</div>

    
  
</Base>
